body {
  background-color: #000;
  color: white;
}

input, textarea {
  background-color: #333;
  color: white;
}

button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.editor, .editor > * {
  display: block;
}

#recent-colors {
  list-style: none;
  padding-inline-start: 0;
}

#recent-colors > li, div.horizontal {
  display: inline;
}

#recent-colors > li:after {
  content: '';
  padding-right: 12px;
}

#pixels {
  display: grid;
  width: min-content;
  height: min-content;
  background: url("pattern.png") repeat;
  background-size: 30px;
}

#pixels > button {
  width: auto;
  height: auto;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
}

#pixels:nth-child(-n+2) {
  border-top: none;
}

#pixels:nth-child(odd) {
  border-left: none;
}
